{% extends 'layout.twig' %}

{% block body %}
    <div class="container-fluid">
       <h1 class="text-danger">Page de test login</h1>
        <a href="/" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
