{% extends 'layout.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-success">Page de test Connexion</h1>
        <a href="/" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
